/* #region Typography */

/* sour-gummy-100 - latin */
@font-face {
  font-display: swap;
  font-family: 'SourGummy';
  font-style: normal;
  font-weight: 100;
  src: url('/statics/fonts/sour-gummy-v1-latin-100.woff2') format('woff2');
}
/* sour-gummy-200 - latin */
@font-face {
  font-display: swap;
  font-family: 'SourGummy';
  font-style: normal;
  font-weight: 200;
  src: url('/statics/fonts/sour-gummy-v1-latin-200.woff2') format('woff2');
}
/* sour-gummy-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'SourGummy';
  font-style: normal;
  font-weight: 300;
  src: url('/statics/fonts/sour-gummy-v1-latin-300.woff2') format('woff2');
}
/* sour-gummy-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'SourGummy';
  font-style: normal;
  font-weight: 400;
  src: url('/statics/fonts/sour-gummy-regular.woff2') format('woff2');
}
/* sour-gummy-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'SourGummy';
  font-style: normal;
  font-weight: 500;
  src: url('/statics/fonts/sour-gummy-v1-latin-500.woff2') format('woff2');
}
/* sour-gummy-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'SourGummy';
  font-style: normal;
  font-weight: 600;
  src: url('/statics/fonts/sour-gummy-v1-latin-600.woff2') format('woff2');
}

h1 {
  font-family: "SourGummy", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  color: var(--color-text);
}

h2 {
  font-family: "SourGummy", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;
  color: var(--color-text);
}

h3 {
  font-family: "SourGummy", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.4;
  color: var(--color-text);
}

p {
  font-family: "SourGummy", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  color: var(--color-text);
}

/* #endregion */

/* #region Colors */
/* Dark Theme (default) */
:root {
  --color-text: #ffffff;
  --color-text-dark:#000000;
  --color-text-highlight: rgb(172, 255, 47);
  --color-bg: #000000;
  --color-header-footer: rgb(25, 42, 25);
  --color-main-bg: rgba(11, 40, 11, 0.678);
  --color-cart-bg: #0a110a;
  --color-border-highlight: rgb(172, 255, 47);
  --dark-btn-bg: #18250f;
  --light-btn-bg: rgb(172, 255, 47);
  --inactive-btn-bg: #9a9898;
}

/* Light Theme */
.light-theme {
  --color-text: #111111;
  --color-text-dark:#ffffff;
  --color-text-highlight: rgb(25, 150, 50);
  --color-bg: #ffffff;
  --color-header-footer: rgb(230, 245, 230);
  --color-main-bg: rgba(200, 240, 200, 0.8);
  --color-cart-bg: #f2f6f2;
  --color-border-highlight: rgb(25, 150, 50);
}
/* #endregion */

/* #region base styles */
* {
  margin: 0;
  font-family: 'SourGummy';
  border: unset;
  text-decoration: none;
  color: var(--color-text);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('/statics/images/background-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  background-color: var(--color-bg);
}

.pd-16-24 {
  padding: 16px 24px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.btn {
  height: 30px;
  width: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-btn {
  background-color: var(--dark-btn-bg);
  border-radius: 10px;
  border: 2px solid var(--color-border-highlight);
  color: var(--color-text-highlight);
}

.light-btn {
  background-color: var(--light-btn-bg);
  border-radius: 10px;
  color: var(--color-text-dark);
}

.inactive-btn {
  background-color: var(--inactive-btn-bg);
  border-radius: 10px;
  color: var(--color-text-dark);
}

.trash-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/* #endregion */

/* #region Components */
header,
footer{
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-header-footer);
}

.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  height: 90%;
  width: 15%;
  min-width: 200px;
}

.logo-btn {
  background-color: transparent;
  width: 200px;
}

nav ul{
  display: flex;
  align-items: center;
  flex: 1;
  width: auto;
  min-width: 200px;
  gap: 16px;
}

nav ul li {
  list-style-type: none;
}

main {
  min-height: 100dvh;
  height: auto;
  width: 60%;
  background-color: var(--color-main-bg);
}

.content-wrapper {
  max-width: 1440px;
  width: 100%;
}

.dish-section {
  width: 100%;
}

.main-container {
  display: flex;
}

.shopping-cart {
  background-color: var(--color-cart-bg);
  width: 40%;
  height: 100dvh;
  position: sticky;
  top: 0;
}

.restaurant-header {
  height: 300px;
  background-image: url('/statics/images/greenfire-header-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.restaurant-logo {
  width: 20%;
  margin-bottom: -10%;
  border-radius: 10px;
  border: 3px solid var(--color-border-highlight);
}


.dish-card {
  width: 100%;
}

.dish-card img{
  width: 100%;
}

.add-to-cart-wrapper {
  display: flex;
  justify-content: space-between;;
}

/* #endregion */
